.btn {
    /* width: 40px;
    height: 40px; */
    margin: 3px;
    border-radius: 12px;
    font-size: 22px;
}

.correct {
    background-color: lightgreen;
    color: black;
}

.incorrect {
    background-color: rgb(71, 71, 71);
    color: black;
}

.contains {
    background-color: rgb(240, 227, 128);
    color: black;
}

.enter {
    background-color: blue;
}

.btn:hover {
    border-color: antiquewhite;
}

.container {
    min-width: 400px;
}